# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.gas-snapshot

node_modules/

# tmp copy of CHANGELOG.md when running changeset version
src/CHANGELOG.md

